<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index.html" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="../assets/images/logo-dark.svg" alt="" class="logo logo-lg" />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        @@include('./menu-list.html')
      </ul>
      <div class="pc-navbar-card bg-primary rounded">
        <h4 class="text-white">Berry Pro</h4>
        <p class="text-white opacity-75">Checkout Berry pro features</p>
        <a href="https://codedthemes.com/item/berry-bootstrap-5-admin-template/" target="_blank" class="btn btn-light text-primary">Pro</a>
      </div>
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
